* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  background: rgb(0, 0, 0);
}

.container {
  text-align: center;
  background: rgb(0, 0, 0);
  padding: 55px 0;
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url(../img/PASSWORD.jpg);
  background-position: center;
  height: 300px;
}

.password_maker {
  color: white;
}

h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 50px;
}

p {
  margin: 40px;
  font-size: 25px;
}

span {
  text-transform: uppercase;
  color: coral;
}

h2 {
  font-size: 32px;
  padding: 20px;
}

.password {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 35px;
  animation-name: color-change;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes color-change {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}

.super {
  width: 100%
}

.gif {
  width: 30%;
  margin: 20px auto;
}

footer {
  background-color: coral;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

li {
  padding: 0 20px;
}
